{
  "openapi": "3.0.3",
  "info": {
    "title": "Sim API - SVM Balances",
    "description": "Get token balances for a given SVM address",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.sim.dune.com"
    }
  ],
  "paths": {
    "/beta/svm/balances/{uri}": {
      "get": {
        "tags": [
          "svm-balances"
        ],
        "summary": "Get SVM token balances",
        "description": "Get token balances for a given SVM address",
        "operationId": "getSvmBalances",
        "parameters": [
          {
            "name": "X-Sim-Api-Key",
            "in": "header",
            "description": "API key to access the service",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uri",
            "in": "path",
            "description": "SVM address",
            "required": true,
            "schema": {
              "type": "string",
              "default": "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
            },
            "example": "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Comma-separated list of chains to include",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return. Default is 1000 when not provided. Values above 1000 are reduced to 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset from previous response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvmBalancesResponse"
                },
                "example": {
                  "processing_time_ms": 120,
                  "wallet_address": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK",
                  "next_offset": "eyJibG9ja190aW1lIjoxNjgwMDAwMDAwLCJpbmRleCI6MH0=",
                  "balances_count": 3,
                  "balances": [
                    {
                      "chain": "solana",
                      "address": "GUACAwFcHeHgN6FWhcw5Uwt8r9YHF1x66NWkW8fLT2e6",
                      "amount": "236604141098046680",
                      "balance": "2366041410980.4668",
                      "raw_balance": "2333343144265.50919",
                      "value_usd": 0,
                      "program_id": "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb",
                      "decimals": 5,
                      "total_supply": "17752032227785985186",
                      "metadata_address": "GUACAwFcHeHgN6FWhcw5Uwt8r9YHF1x66NWkW8fLT2e6",
                      "name": "Solana Power Boost",
                      "symbol": "GUACA",
                      "uri": "https://arweave.net/0-6vSvbN2VhWi0dpufHxkcvul2TSYGQn7F-xAt867iY",
                      "price_usd": 0,
                      "liquidity_usd": 0
                    },
                    {
                      "chain": "solana",
                      "address": "HV6ia6ptzKbMPQs3zGrj2S35BhxeFzpXeSS3jNtW7P9F",
                      "amount": "913013423527",
                      "balance": "913013.423527",
                      "raw_balance": "912673",
                      "value_usd": 0,
                      "program_id": "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb",
                      "decimals": 6,
                      "total_supply": "1000000000000",
                      "mint_authority": "4TM4eaLauigrqjDytC49K2iWKB4kAHsNRCJz48mdriHY",
                      "name": "FIRE",
                      "symbol": "FIRE",
                      "uri": "https://bafkreic4fzgkgta5qmv2tk2fug7i6jnrcmd4pnrf6pxwvyfxlne3ewb67i.ipfs.nftstorage.link",
                      "price_usd": 0,
                      "liquidity_usd": 0
                    },
                    {
                      "chain": "solana",
                      "address": "native",
                      "amount": "1000000000",
                      "balance": "1.0",
                      "raw_balance": "1.0",
                      "value_usd": 20.5,
                      "program_id": null,
                      "decimals": 9,
                      "total_supply": "1000000000000000",
                      "name": "Solana",
                      "symbol": "SOL",
                      "uri": null,
                      "price_usd": 20.5,
                      "liquidity_usd": 500000000,
                      "pool_type": null,
                      "pool_address": null,
                      "mint_authority": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SvmBalanceItem": {
        "type": "object",
        "required": [
          "chain",
          "address",
          "amount"
        ],
        "properties": {
          "chain": {
            "type": "string",
            "description": "Name of blockchain of token"
          },
          "address": {
            "type": "string",
            "description": "Token contract address or blockchain name for native token"
          },
          "amount": {
            "type": "string",
            "description": "Amount of token owned in smallest unit"
          },
          "balance": {
            "type": "string",
            "description": "Formatted amount with decimals applied"
          },
          "raw_balance": {
            "type": "string",
            "description": "Raw balance from account info divided by 10^decimals"
          },
          "value_usd": {
            "type": "number",
            "description": "Current value of token owned, if available",
            
          },
          "program_id": {
            "type": "string",
            "description": "Program ID of the token (for SPL tokens)",
            
          },
          "decimals": {
            "type": "number",
            "description": "Decimals of token",
            
          },
          "total_supply": {
            "type": "string",
            "description": "Total supply of the token",
            
          },
          "name": {
            "type": "string",
            "description": "Name of token",
            
          },
          "symbol": {
            "type": "string",
            "description": "Symbol of token",
            
          },
          "uri": {
            "type": "string",
            "description": "URI to token metadata",
            
          },
          "price_usd": {
            "type": "number",
            "description": "Current price of token, if available",
            
          },
          "liquidity_usd": {
            "type": "number",
            "description": "Liquidity in USD, if available",
            
          },
          "pool_type": {
            "type": "string",
            "description": "Type of liquidity pool, if available",
            
          },
          "pool_address": {
            "type": "string",
            "description": "Address of liquidity pool, if available",
            
          },
          "mint_authority": {
            "type": "string",
            "description": "Mint authority address, if available",
            
          }
        }
      },
      "SvmBalancesResponse": {
        "type": "object",
        "required": [
          "wallet_address",
          "balances"
        ],
        "properties": {
          "processing_time_ms": {
            "type": "number",
            "description": "Time taken to process the request in milliseconds"
          },
          "wallet_address": {
            "type": "string",
            "description": "The queried wallet address"
          },
          "next_offset": {
            "type": "string",
            "description": "Pagination token for the next page of results",
            
          },
          "balances_count": {
            "type": "number",
            "description": "Total number of balances returned"
          },
          "balances": {
            "type": "array",
            "description": "Array of token balance objects",
            "items": {
              "$ref": "#/components/schemas/SvmBalanceItem"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "svm-balances",
      "description": "SVM Balances API"
    }
  ]
}
