{
  "openapi": "3.0.3",
  "info": {
    "title": "Sim API - Activity Endpoint",
    "description": "This API provides realtime on-chain activity for addresses across different EVM chains.",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.sim.dune.com"
    }
  ],
  "paths": {
    "/v1/evm/activity/{address}": {
      "get": {
        "tags": [
          "activity"
        ],
        "summary": "Get EVM activity for a given address",
        "description": "This endpoint provides a real-time feed of on-chain activity for any EVM address. Activity is returned in chronological order (newest first) and includes native token transfers, ERC20 token transfers with metadata, ERC721 (NFT) transfers with token IDs, and contract interactions with decoded function calls.",
        "operationId": "getEvmActivity",
        "parameters": [
          {
            "name": "X-Sim-Api-Key",
            "in": "header",
            "description": "Used for authenticating requests. Provide an API key with a purpose of `Sim API`. See [Authentication](/#authentication).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to get activity for",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If this query parameter is omitted, results include activity from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets. This is a cursor being passed from the previous response, only use what the backend returns here.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of activity items to return. Default is 20 when not provided. Values above 100 are reduced to 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                },
                "example": {
                  "activity": [
                    {
                      "chain_id": 8453,
                      "block_number": 26635101,
                      "block_time": "2025-02-20T13:52:29+00:00",
                      "tx_hash": "0x184544c8d67a0cbed0a3f04abe5f958b96635e8c743c070f70e24b1c06cd1aa6",
                      "type": "receive",
                      "asset_type": "erc20",
                      "token_address": "0xf92e740ad181b13a484a886ed16aa6d32d71b19a",
                      "from": "0xd152f549545093347a162dce210e7293f1452150",
                      "value": "123069652500000000000",
                      "value_usd": 0.14017463965013963,
                      "token_metadata": {
                        "symbol": "ENT",
                        "decimals": 18,
                        "price_usd": 0.001138986230989314,
                        "pool_size": 5.2274054439382835
                      }
                    }
                  ],
                  "next_offset": "KgAAAAAAAAAweDQ4ZDAwNGE2YzE3NWRiMzMxZTk5YmVhZjY0NDIzYjMwOTgzNTdhZTdAVxVC-y0GAAUhAAAAAAAA6XCRAQAAAAAAAAAAAAAAAD0AAAAAAAAAAAAAAAAAAAA"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error - A generic error occurred on the server."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityItem": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "integer",
            "format": "int64",
            "description": "ID of the blockchain where activity occurred"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "description": "Block number where activity occurred"
          },
          "block_time": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the block"
          },
          "tx_hash": {
            "type": "string",
            "description": "Hash of the transaction"
          },
          "type": {
            "type": "string",
            "description": "Activity type: 'transfer', 'call', 'mint', 'receive', 'send', 'swap', 'approve', etc."
          },
          "asset_type": {
            "type": "string",
            "description": "Asset type: 'native', 'erc20', 'erc721', 'erc1155'"
          },
          "token_address": {
            "type": "string",
            "description": "Contract address of token (for ERC20/ERC721/ERC1155)"
          },
          "from": {
            "type": "string",
            "description": "Address initiating the activity"
          },
          "to": {
            "type": "string",
            "description": "Recipient address"
          },
          "value": {
            "type": "string",
            "description": "Amount transferred (in WEI) or contract call value"
          },
          "value_usd": {
            "type": "number",
            "format": "double",
            "description": "USD value of the transaction"
          },
          "id": {
            "type": "string",
            "description": "Token ID (for ERC721/ERC1155 transfers)"
          },
          "spender": {
            "type": "string",
            "description": "Address being approved to spend tokens (for approve activities)"
          },
          "token_metadata": {
            "type": "object",
            "description": "Additional token information",
            
            "properties": {
              "symbol": {
                "type": "string",
                "description": "Token symbol"
              },
              "decimals": {
                "type": "integer",
                "description": "Token decimals"
              },
              "name": {
                "type": "string",
                "description": "Token name"
              },
              "logo": {
                "type": "string",
                "description": "URL to token logo"
              },
              "price_usd": {
                "type": "number",
                "format": "double",
                "description": "Token price in USD"
              },
              "pool_size": {
                "type": "number",
                "format": "double",
                "description": "Token pool size"
              },
              "standard": {
                "type": "string",
                "description": "Token standard (e.g., 'erc721')"
              }
            }
          },
          "function": {
            "type": "object",
            "description": "Decoded function information (for contract calls)",
            
            "properties": {
              "signature": {
                "type": "string",
                "description": "Function signature"
              },
              "name": {
                "type": "string",
                "description": "Function name"
              },
              "inputs": {
                "type": "array",
                "description": "Function parameters",
                
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Parameter name"
                    },
                    "type": {
                      "type": "string",
                      "description": "Parameter type"
                    },
                    "value": {
                      "type": "string",
                      "description": "Parameter value"
                    }
                  }
                }
              }
            }
          },
          "contract_metadata": {
            "type": "object",
            "description": "Contract metadata",
            
            "properties": {
              "name": {
                "type": "string",
                "description": "Contract name"
              }
            }
          },
          "from_token_address": {
            "type": "string",
            "description": "Source token address (for swaps)"
          },
          "from_token_value": {
            "type": "string",
            "description": "Source token amount (for swaps)"
          },
          "from_token_metadata": {
            "type": "object",
            "description": "Source token metadata (for swaps)",
            
            "properties": {
              "symbol": {
                "type": "string"
              },
              "decimals": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "logo": {
                "type": "string"
              }
            }
          },
          "to_token_address": {
            "type": "string",
            "description": "Destination token address (for swaps)"
          },
          "to_token_value": {
            "type": "string",
            "description": "Destination token amount (for swaps)"
          },
          "to_token_metadata": {
            "type": "object",
            "description": "Destination token metadata (for swaps)",
            
            "properties": {
              "symbol": {
                "type": "string"
              },
              "decimals": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "logo": {
                "type": "string"
              }
            }
          }
        }
      },
      "Warning": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Warning code identifier",
            "example": "UNSUPPORTED_CHAIN_IDS"
          },
          "message": {
            "type": "string",
            "description": "Human-readable warning message",
            "example": "Some requested chain_ids are not supported. Activity is returned only for supported chains."
          },
          "chain_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "List of chain IDs that triggered this warning"
          },
          "docs_url": {
            "type": "string",
            "description": "URL to relevant documentation",
            "example": "https://docs.sim.dune.com/evm/supported-chains"
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "required": [
          "activity"
        ],
        "properties": {
          "activity": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityItem"
            },
            "description": "Array of activity items"
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Warning"
            },
            "description": "Array of warnings about the request. For example, warnings about unsupported chain IDs."
          },
          "next_offset": {
            "type": "string",
            "description": "Pagination cursor for the next page of results"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "activity",
      "description": "Activity API"
    }
  ]
}
