{
  "openapi": "3.0.3",
  "info": {
    "title": "Sim API - DeFi Positions Endpoint",
    "description": "Retrieve DeFi positions along with pricing and metadata for an address across supported EVM chains.",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.sim.dune.com"
    }
  ],
  "paths": {
    "/beta/evm/defi/positions/{address}": {
      "get": {
        "tags": [
          "defi-positions"
        ],
        "summary": "Get DeFi positions for an address",
        "description": "Returns a wallet's DeFi positions including protocol metadata, USD values, pending rewards, and aggregation summaries.",
        "operationId": "getEvmDefiPositions",
        "parameters": [
          {
            "name": "X-Sim-Api-Key",
            "in": "header",
            "description": "Used for authenticating requests. See [Authentication](/#authentication).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to inspect for DeFi positions.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            },
            "example": "0x9512044bc14267a6c588296a20bd7c00e0de7da3"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8453`). If omitted, positions are returned for chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefiPositionsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "wallet_address": "0x9512044bc14267a6c588296a20bd7c00e0de7da3",
                      "request_time": "2025-03-06T18:12:29.000Z",
                      "response_time": "2025-03-06T18:12:29.000Z",
                      "positions": [
                        {
                          "type": "Erc4626",
                          "chain_id": 1,
                          "token": "0xdcd0f5ab30856f28385f641580bbd85f88349124",
                          "token_name": "Autonomous Liquidity USD",
                          "token_symbol": "alUSD",
                          "underlying_token": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "underlying_token_name": "USD Coin",
                          "underlying_token_symbol": "USDC",
                          "underlying_token_decimals": 6,
                          "calculated_balance": 0.0673736869415349,
                          "price_in_usd": 0,
                          "usd_value": 0,
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                        },
                        {
                          "type": "Tokenized",
                          "chain_id": 1,
                          "token_type": "AtokenV2",
                          "token": "0x030ba81f1c18d280636f32af80b9aad02cf0854e",
                          "token_name": "Aave interest bearing WETH",
                          "token_symbol": "aWETH",
                          "calculated_balance": 0.0496171604159423,
                          "price_in_usd": 1.0391133398126,
                          "usd_value": 0.0515578532718273,
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x09c29277d081a1b347f41277ff53116a30d4ddff",
                          "token0": "0x4206975c6d7135ad73129476ebe2b06e42f41f50",
                          "token0_name": "FWOG",
                          "token0_symbol": "FWOG",
                          "token0_decimals": 18,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0xca7455529bd53680000",
                          "token0_price": 4.0139603276079e-11,
                          "token1_price": 3581.9074863662,
                          "calculated_balance": 59754,
                          "price_in_usd": 0.000809180892677551,
                          "usd_value": 48.3517950610544,
                          "logo": null
                        },
                        {
                          "type": "Nft",
                          "chain_id": 1,
                          "protocol": "UniswapV3",
                          "pool": "0x7625d7f67e4e44341ddfb1e698801fd5a1574b48",
                          "token0": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token0_name": "Wrapped Ether",
                          "token0_symbol": "WETH",
                          "token0_decimals": 18,
                          "token1": "0xd78959df1ff28b45e6b4ea234bdcf9d6609d16e1",
                          "token1_name": "Moneda de Caca",
                          "token1_symbol": "Mierda",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": 0,
                              "tick_upper": 184200,
                              "token_id": "0xe8ac0",
                              "token0_price": 3581.9074863662,
                              "token0_holdings": 0,
                              "token0_rewards": 0.000201014351146556,
                              "token1_price": 0,
                              "token1_holdings": 100000000,
                              "token1_rewards": 19678.323702556
                            }
                          ],
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "usd_value": 0.720014809238893
                        },
                        {
                          "type": "NftV4",
                          "chain_id": 1,
                          "protocol": "UniswapV4",
                          "pool_id": [33, 251, 41, 59, 157, 197, 59, 66, 250, 110, 99, 250, 36, 225, 33, 45, 231, 108, 136, 235, 122, 21, 185, 76, 210, 32, 252, 102, 39, 72, 81, 191],
                          "pool_manager": "0x000000000004444c5dc75cb358380d2e3de08a90",
                          "salt": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 33, 24],
                          "token0": "0x0000000000000000000000000000000000000000",
                          "token0_name": "Ether",
                          "token0_symbol": "ETH",
                          "token0_decimals": 18,
                          "token1": "0xf9c8631fba291bac14ed549a2dde7c7f2ddff1a8",
                          "token1_name": "Mighty Morphin Power Rangers",
                          "token1_symbol": "GoGo",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": -184220,
                              "tick_upper": 207220,
                              "token_id": "0x2118",
                              "token0_price": 3581.9074863662,
                              "token0_holdings": 0.000047749999999999,
                              "token0_rewards": 0.000008749999999999,
                              "token1_price": 0.00000361073454658,
                              "token1_holdings": 479952364.515627,
                              "token1_rewards": 8399.79998597393
                            }
                          ],
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "usd_value": 1733.21329049076
                        }
                      ],
                      "aggregations": {
                        "total_usd_value": 1782.336658214105,
                        "total_by_chain": {
                          "1": 1782.336658214105
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                },
                "examples": {
                  "invalid_address": {
                    "summary": "Invalid address format",
                    "value": "Invalid URL: invalid length 39, expected a (both 0x-prefixed or not) hex string or byte array containing 20 bytes"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid API Key"
                    }
                  },
                  "required": ["error"]
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DefiPosition": {
        "type": "object",
        "required": [
          "protocol_name",
          "protocol_id",
          "chain_id",
          "name",
          "usd_value"
        ],
        "properties": {
          "protocol_name": {
            "type": "string",
            "description": "Display name of the protocol (e.g. Uniswap v3, Aave v3)."
          },
          "protocol_id": {
            "type": "string",
            "description": "Slugified protocol identifier that remains stable across releases."
          },
          "label": {
            "type": "string",
            "description": "Protocol-specific label for the position (for example, lend, borrow, liquidity, vault)."
          },
          "chain_id": {
            "type": "integer",
            "format": "int64",
            "description": "Numeric chain identifier."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name for the position."
          },
          "contract_address": {
            "type": "string",
            "description": "Primary contract address associated with the position, such as the market, vault, or pool contract."
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Quantity of the position, adjusted for token decimals."
          },
          "usd_value": {
            "type": "number",
            "format": "double",
            "description": "USD value of the position."
          },
          "unclaimed_usd_value": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "USD value of unclaimed rewards or accrued yield for the position, when applicable."
          },
          "details": {
            "type": "object",
            "description": "Protocol-specific metadata. Field presence varies by protocol and position type.",
            "additionalProperties": true
          }
        }
      },
      "DefiAggregations": {
        "type": "object",
        "properties": {
          "total_usd_value": {
            "type": "number",
            "format": "double",
            "description": "Sum of the USD value across all returned positions."
          },
          "total_by_chain": {
            "type": "object",
            "description": "Breakdown of USD value by chain, keyed by chain ID as a string.",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "DefiPositionsResponse": {
        "type": "object",
        "required": [
          "wallet_address",
          "positions"
        ],
        "properties": {
          "wallet_address": {
            "type": "string",
            "description": "The wallet address that was queried."
          },
          "request_time": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the request was received."
          },
          "response_time": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the response was generated."
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DefiPosition"
            }
          },
          "aggregations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DefiAggregations"
              }
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "defi-positions",
      "description": "DeFi Positions API"
    }
  ]
}

