{
  "openapi": "3.0.3",
  "info": {
    "title": "Sim API - Token Info Endpoint",
    "description": "This API provides information about tokens across different EVM chains.",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.sim.dune.com"
    }
  ],
  "paths": {
    "/v1/evm/token-info/{uri}": {
      "get": {
        "tags": [
          "token-info"
        ],
        "summary": "Get EVM token information for a specified contract address (or the native token), on any chain.",
        "operationId": "getEvmTokenInfo",
        "parameters": [
          {
            "name": "X-Sim-Api-Key",
            "in": "header",
            "description": "Used for authenticating requests. Provide an API key with a purpose of `Sim API`. See [Authentication](/#authentication).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uri",
            "in": "path",
            "description": "The contract address of the token or 'native' for the native token of the chain",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0xd9aaec86b65d86f6a7b5b1b0c42ffa531710b6ca"
            },
            "example": "0xd9aaec86b65d86f6a7b5b1b0c42ffa531710b6ca"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "description": "Either 'all' or a comma separated list of chain ids to get token info for",
            "required": true,
            "schema": {
              "type": "string",
              "default": "8453"
            },
            "example": "8453"
          },
          {
            "name": "historical_prices",
            "in": "query",
            "description": "Request historical point-in-time prices. Accepts integer | integer[]. Provide whole numbers representing hours in the past, with a maximum of 3 time offsets (e.g. 8760 for 1 year ago or 720,168,24 for 1 month, 1 week, and 1 day ago). When present, each token includes a historical_prices array with one entry per offset.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 1
                  },
                  "maxItems": 3
                }
              ]
            },
            "examples": {
              "single_offset": {
                "summary": "Single offset (1 week ago)",
                "value": "168"
              },
              "three_offsets": {
                "summary": "Three offsets (1 month, 1 week, 1 day ago)",
                "value": "720,168,24"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This endpoint returns up to the number of supported chains. See [Supported Chains](/evm/supported-chains) to learn more.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": "100"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets; this is a cursor being passed from the previous response, only use what the backend returns here",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokensResponse"
                },
                "example": {
                  "contract_address": "native",
                  "tokens": [
                    {
                      "chain": "ethereum",
                      "chain_id": 1,
                      "price_usd": 12.34,
                      "symbol": "ETH"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error - A generic error occurred on the server."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HistoricalPricePoint": {
        "type": "object",
        "required": [
          "offset_hours",
          "price_usd"
        ],
        "properties": {
          "offset_hours": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 24
          },
          "price_usd": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "TokenInfo": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "description": "The name of the blockchain"
          },
          "chain_id": {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the blockchain"
          },
          "symbol": {
            "type": "string",
            "description": "The token symbol"
          },
          "name": {
            "type": "string",
            "description": "The token name"
          },
          "decimals": {
            "type": "integer",
            "description": "The number of decimals for the token"
          },
          "price_usd": {
            "type": "number",
            "format": "double",
            "description": "The price of the token in USD"
          },
          "historical_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalPricePoint"
            },
            "description": "Historical price points for the requested offsets. Only present when the historical_prices query parameter is provided."
          },
          "total_supply": {
            "type": "string",
            "description": "The total supply of the token"
          },
          "market_cap": {
            "type": "number",
            "format": "double",
            "description": "The market capitalization of the token"
          },
          "logo": {
            "type": "string",
            "description": "URL to the token logo"
          }
        }
      },
      "TokensResponse": {
        "type": "object",
        "required": [
          "contract_address",
          "tokens"
        ],
        "properties": {
          "contract_address": {
            "type": "string",
            "description": "The contract address of the token or 'native' for the native token"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenInfo"
            },
            "description": "Array of token information across different chains"
          },
          "next_offset": {
            "type": "string",
            "description": "Pagination cursor for the next page of results"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "token-info",
      "description": "Token Info API"
    }
  ]
}
