{
  "openapi": "3.0.3",
  "info": {
    "title": "Sim API - EVM Transactions",
    "description": "Retrieve granular transaction details including block information, gas data, transaction types, and raw transaction values.",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.sim.dune.com"
    }
  ],
  "paths": {
    "/v1/evm/transactions/{address}": {
      "get": {
        "tags": [
          "evm-transactions"
        ],
        "summary": "Get EVM transactions",
        "description": "Get transactions for a given EVM address",
        "operationId": "getEvmTransactions",
        "parameters": [
          {
            "name": "X-Sim-Api-Key",
            "in": "header",
            "description": "Used for authenticating requests. Provide an API key with a purpose of `Sim API`. See [Authentication](/#authentication).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "EVM wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If this query parameter is omitted, results include transactions from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return. Default is 100 when not provided. Values above 100 are reduced to 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets. This is a cursor being passed from the previous response, only use what the backend returns here.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "decode",
            "in": "query",
            "description": "When true, it includes decoded transaction logs in the response. Accepts only boolean values true or false. You can also omit this parameter to disable decoding. Invalid values will return an error.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "transactions": [
                        {
                          "address": "0x7532cd0651030d3dc80b28199a125fc9f5ac80fa",
                          "block_hash": "0x745bdf699cee1fef27b9304be43a2435c744500ef455cc6b7dfb4c34417601a2",
                          "block_number": "30819446",
                          "block_time": "2025-05-28T10:30:39Z",
                          "chain": "base",
                          "from": "0x7532cd0651030d3dc80b28199a125fc9f5ac80fa",
                          "to": "0x6ff5693b99212da76ad316178a184ab56d299b43",
                          "data": "0x3593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000006836ecce000000000000000000000000000000000000000000000000000000000000000308060c000000000000000000000000000000000000000000000000000000000000",
                          "gas_price": "0x5aaa88",
                          "hash": "0x1081ebf623669338e9de6865d08d7ff3a3d1b0ef6f6486b350c3caf5b2e9257d",
                          "index": "35",
                          "nonce": "0x8",
                          "transaction_type": "0x2",
                          "value": "0x0",
                          "decoded": {
                            "name": "execute",
                            "inputs": [
                              {
                                "name": "_commands",
                                "type": "bytes",
                                "value": "0x08060c"
                              },
                              {
                                "name": "_inputs",
                                "type": "bytes[]",
                                "value": [
                                  "0x000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000186a0"
                                ]
                              },
                              {
                                "name": "_deadline",
                                "type": "uint256",
                                "value": "1748430030"
                              }
                            ]
                          },
                          "logs": [
                            {
                              "address": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                              "data": "0x00000000000000000000000000000000000000000000000000000000000186a0",
                              "topics": [
                                "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef",
                                "0x0000000000000000000000007532cd0651030d3dc80b28199a125fc9f5ac80fa",
                                "0x00000000000000000000000088a43bbdf9d098eec7bceda4e2494615dfd9bb9c"
                              ],
                              "decoded": {
                                "name": "Transfer",
                                "inputs": [
                                  {
                                    "name": "sender",
                                    "type": "address",
                                    "value": "0x7532cd0651030d3dc80b28199a125fc9f5ac80fa"
                                  },
                                  {
                                    "name": "to",
                                    "type": "address",
                                    "value": "0x88a43bbdf9d098eec7bceda4e2494615dfd9bb9c"
                                  },
                                  {
                                    "name": "value",
                                    "type": "uint256",
                                    "value": "100000"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ],
                      "next_offset": "QBHrUqbdBQDkBwAAAAAAACHjyAAAAAAAAAAAAAAAAAACAAAAAAAAAA",
                      "request_time": "2025-05-28T10:31:56Z",
                      "response_time": "2025-05-28T10:31:56Z",
                      "wallet_address": "0x7532cd0651030d3dc80b28199a125fc9f5ac80fa"
                    }
                  },
                  "with_warnings": {
                    "summary": "Response with unsupported chain IDs warning",
                    "value": {
                      "transactions": [
                        {
                          "address": "0x37305b1cd40574e4c5ce33f8e8306be057fd7341",
                          "block_hash": "0x745bdf699cee1fef27b9304be43a2435c744500ef455cc6b7dfb4c34417601a2",
                          "block_number": "30819446",
                          "block_time": "2025-05-28T10:30:39Z",
                          "chain": "ethereum",
                          "from": "0x37305b1cd40574e4c5ce33f8e8306be057fd7341",
                          "to": "0x6ff5693b99212da76ad316178a184ab56d299b43",
                          "data": "0x",
                          "gas_price": "0x5aaa88",
                          "hash": "0x1081ebf623669338e9de6865d08d7ff3a3d1b0ef6f6486b350c3caf5b2e9257d",
                          "index": "35",
                          "nonce": "0x8",
                          "transaction_type": "0x2",
                          "value": "0x0",
                          "logs": []
                        }
                      ],
                      "warnings": [
                        {
                          "code": "UNSUPPORTED_CHAIN_IDS",
                          "message": "Some requested chain_ids are not supported. Transactions are returned only for supported chains.",
                          "chain_ids": [9999, 77777777777],
                          "docs_url": "https://docs.sim.dune.com/evm/supported-chains"
                        }
                      ],
                      "next_offset": "QBHrUqbdBQDkBwAAAAAAACHjyAAAAAAAAAAAAAAAAAACAAAAAAAAAA",
                      "request_time": "2025-12-16T10:31:56Z",
                      "response_time": "2025-12-16T10:31:56Z",
                      "wallet_address": "0x37305b1cd40574e4c5ce33f8e8306be057fd7341"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Transaction": {
        "type": "object",
        "required": [
          "address",
          "block_hash",
          "block_number",
          "block_time",
          "chain",
          "from",
          "hash"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "Wallet or ERC20 contract address"
          },
          "block_hash": {
            "type": "string",
            "description": "Unique cryptographic block identifier"
          },
          "block_number": {
            "type": "string",
            "description": "Block's sequential index"
          },
          "block_time": {
            "type": "string",
            "description": "Timestamp of block creation"
          },
          "block_version": {
            "type": "integer",
            "description": "Block's protocol iteration"
          },
          "chain": {
            "type": "string",
            "description": "Name of the blockchain"
          },
          "from": {
            "type": "string",
            "description": "Address of sender"
          },
          "to": {
            "type": "string",
            "description": "Address of receiver"
          },
          "data": {
            "type": "string",
            "description": "Data of transaction"
          },
          "gas_price": {
            "type": "string",
            "description": "Gas price of transaction as hexadecimal string"
          },
          "hash": {
            "type": "string",
            "description": "Hash of transaction"
          },
          "index": {
            "type": "string",
            "description": "Index of transaction"
          },
          "max_fee_per_gas": {
            "type": "string",
            "description": "Max fee per gas of transaction as hexadecimal string"
          },
          "max_priority_fee_per_gas": {
            "type": "string",
            "description": "Max priority fee per gas of transaction as hexadecimal string"
          },
          "nonce": {
            "type": "string",
            "description": "Nonce of transaction as hexadecimal string"
          },
          "transaction_type": {
            "type": "string",
            "description": "Type of transaction"
          },
          "value": {
            "type": "string",
            "description": "Value of transaction as hexadecimal string"
          },
          "decoded": {
            "type": "object",
            "description": "Present only when decode=true and a matching ABI signature is found on Dune.com for the transaction's call data.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Decoded function name"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DecodedInput"
                }
              }
            }
          },
          "logs": {
            "type": "array",
            "description": "Raw EVM logs for this transaction. When decoding is enabled via the decode query parameter, individual log entries may include a decoded object.",
            "items": {
              "$ref": "#/components/schemas/TransactionLog"
            }
          }
        }
      },
      "TransactionLog": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Contract address that emitted the log"
          },
          "data": {
            "type": "string",
            "description": "Hex-encoded log data"
          },
          "topics": {
            "type": "array",
            "description": "Array of 0x-prefixed topic hashes",
            "items": {
              "type": "string"
            }
          },
          "decoded": {
            "type": "object",
            "description": "Present only when decode=true and a matching ABI signature is found for this log.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Decoded event name"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DecodedInput"
                }
              }
            }
          }
        }
      },
      "DecodedInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "TransactionErrorInformation": {
        "type": "object",
        "required": [
          "chain_id",
          "address"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "chain_id": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TransactionErrors": {
        "type": "object",
        "properties": {
          "error_message": {
            "type": "string"
          },
          "transaction_errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionErrorInformation"
            }
          }
        }
      },
      "Warning": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Warning code identifier (e.g., 'UNSUPPORTED_CHAIN_IDS')",
            "example": "UNSUPPORTED_CHAIN_IDS"
          },
          "message": {
            "type": "string",
            "description": "Human-readable warning message",
            "example": "Some requested chain_ids are not supported. Transactions are returned only for supported chains."
          },
          "chain_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "List of chain IDs that triggered this warning (for chain-related warnings)"
          },
          "docs_url": {
            "type": "string",
            "description": "URL to documentation with more information about the warning",
            "example": "https://docs.sim.dune.com/evm/supported-chains"
          }
        }
      },
      "TransactionsResponse": {
        "type": "object",
        "required": [
          "wallet_address",
          "transactions"
        ],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionErrors"
              }
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Warning"
            },
            "description": "Array of warnings that occurred during request processing. Warnings indicate non-fatal issues (e.g., unsupported chain IDs) where the request can still be partially fulfilled."
          },
          "next_offset": {
            "type": "string"
          },
          "request_time": {
            "type": "string"
          },
          "response_time": {
            "type": "string"
          },
          "wallet_address": {
            "type": "string",
            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "evm-transactions",
      "description": "EVM Transactions API"
    }
  ]
}
