{
  "openapi": "3.0.3",
  "info": {
    "title": "Sim API",
    "description": "The Sim API by Dune provides real-time blockchain data across EVM and SVM chains. Access token balances, transaction history, on-chain activity, DeFi positions, NFT collectibles, token information, and webhook subscriptions through a unified REST API.",
    "version": "1.0.0",
    "license": {
      "name": ""
    },
    "contact": {
      "name": "Dune Support",
      "url": "https://docs.sim.dune.com",
      "email": "support@dune.com"
    }
  },
  "servers": [
    {
      "url": "https://api.sim.dune.com"
    }
  ],
  "tags": [
    {
      "name": "evm",
      "description": "EVM-compatible blockchain endpoints."
    },
    {
      "name": "svm",
      "description": "Solana/SVM blockchain endpoints."
    },
    {
      "name": "activity",
      "description": "On-chain activity feed."
    },
    {
      "name": "balances",
      "description": "Token balances (EVM and SVM)."
    },
    {
      "name": "transactions",
      "description": "Transaction history (EVM and SVM)."
    },
    {
      "name": "collectibles",
      "description": "NFT and ERC721/ERC1155 holdings."
    },
    {
      "name": "defi",
      "description": "DeFi protocol positions."
    },
    {
      "name": "supported-chains",
      "description": "Supported blockchain networks."
    },
    {
      "name": "token-info",
      "description": "Token metadata and pricing."
    },
    {
      "name": "token-holders",
      "description": "Token holder distribution."
    },
    {
      "name": "subscriptions",
      "description": "Webhook subscription management for real-time on-chain event notifications."
    }
  ],
  "paths": {
    "/v1/evm/activity/{address}": {
      "get": {
        "tags": [
          "evm",
          "activity"
        ],
        "summary": "Get EVM activity for a given address",
        "description": "This endpoint provides a real-time feed of on-chain activity for any EVM address. Activity is returned in chronological order (newest first) and includes native token transfers, ERC20 token transfers with metadata, ERC721 (NFT) transfers with token IDs, and contract interactions with decoded function calls.",
        "operationId": "getEvmActivity",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to get activity for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If this query parameter is omitted, results include activity from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets. This is a cursor being passed from the previous response, only use what the backend returns here.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of activity items to return. Default is 20 when not provided. Values above 100 are reduced to 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token_address",
            "in": "query",
            "description": "Filter activities by token contract address. Provide a single address (e.g. `?token_address=0xa0b8...`) or a comma-separated list (e.g. `?token_address=0xa0b8...,0xdac1...`). Only activities involving the specified token(s) will be returned. Swap and call activities are excluded when this filter is set, as they do not have a single token address. Native transfers are also excluded since they have no token contract.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "Filter activities by type. Provide a single value (e.g. `?activity_type=send`) or a comma-separated list (e.g. `?activity_type=send,receive`). Only activities matching one of the specified types will be returned.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "approve",
                  "burn",
                  "call",
                  "mint",
                  "receive",
                  "send",
                  "swap",
                  "transfer"
                ]
              }
            },
            "example": [
              "send",
              "receive"
            ],
            "style": "form",
            "explode": false
          },
          {
            "name": "asset_type",
            "in": "query",
            "description": "Filter activities by asset standard. Provide a single value (e.g. `?asset_type=native`) or a comma-separated list (e.g. `?asset_type=erc20,erc721`). Use `native` to include native token transfers (e.g. ETH). Contract call activities have no asset type and are excluded when this filter is set.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "native",
                  "erc20",
                  "erc721",
                  "erc1155"
                ]
              }
            },
            "example": [
              "erc20"
            ],
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "activity": [
                        {
                          "chain_id": 8453,
                          "block_number": 26635101,
                          "block_time": "2025-02-20T13:52:29+00:00",
                          "tx_hash": "0x184544c8d67a0cbed0a3f04abe5f958b96635e8c743c070f70e24b1c06cd1aa6",
                          "type": "receive",
                          "asset_type": "erc20",
                          "token_address": "0xf92e740ad181b13a484a886ed16aa6d32d71b19a",
                          "from": "0xd152f549545093347a162dce210e7293f1452150",
                          "value": "123069652500000000000",
                          "value_usd": 0.14017463965013963,
                          "token_metadata": {
                            "symbol": "ENT",
                            "decimals": 18,
                            "price_usd": 0.001138986230989314,
                            "pool_size": 5.2274054439382835
                          }
                        }
                      ],
                      "next_offset": "KgAAAAAAAAAweDQ4ZDAwNGE2YzE3NWRiMzMxZTk5YmVhZjY0NDIzYjMwOTgzNTdhZTdAVxVC-y0GAAUhAAAAAAAA6XCRAQAAAAAAAAAAAAAAAD0AAAAAAAAAAAAAAAAAAAA"
                    }
                  },
                  "with_warnings": {
                    "summary": "Response with unsupported chain IDs warning",
                    "value": {
                      "activity": [
                        {
                          "chain_id": 1,
                          "block_number": 18500000,
                          "block_time": "2025-02-20T13:52:29+00:00",
                          "tx_hash": "0x184544c8d67a0cbed0a3f04abe5f958b96635e8c743c070f70e24b1c06cd1aa6",
                          "type": "receive",
                          "asset_type": "erc20",
                          "token_address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "from": "0xd152f549545093347a162dce210e7293f1452150",
                          "value": "1000000",
                          "value_usd": 1,
                          "token_metadata": {
                            "symbol": "USDC",
                            "decimals": 6,
                            "price_usd": 1
                          }
                        }
                      ],
                      "warnings": [
                        {
                          "code": "UNSUPPORTED_CHAIN_IDS",
                          "message": "Some requested chain_ids are not supported. Activity is returned only for supported chains.",
                          "chain_ids": [
                            9999,
                            77777777777
                          ],
                          "docs_url": "https://docs.sim.dune.com/evm/supported-chains"
                        }
                      ],
                      "next_offset": "KgAAAAAAAAAweDQ4ZDAwNGE2YzE3NWRiMzMxZTk5YmVhZjY0NDIzYjMwOTgzNTdhZTdAVxVC-y0GAAUhAAAAAAAA6XCRAQAAAAAAAAAAAAAAAD0AAAAAAAAAAAAAAAAAAAA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid address or validation error.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "validationError": {
                    "summary": "Validation error",
                    "value": "Invalid address format"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "internalError": {
                    "summary": "Internal server error",
                    "value": "Internal server error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evm/balances/{address}": {
      "get": {
        "tags": [
          "evm",
          "balances"
        ],
        "summary": "Get EVM token balances for a given address",
        "description": "This endpoint returns EVM token balances for an address for any token that the address has interacted with",
        "operationId": "getEvmBalances",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to get balances for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If this query parameter is omitted, results include balances from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Specify `erc20` or `native` to get only ERC20 tokens or native assets, respectively",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "erc20",
                "native"
              ]
            }
          },
          {
            "name": "asset_class",
            "in": "query",
            "description": "Filter by asset class. Use `stablecoin` to return only stablecoin balances. This is equivalent to using the `/stablecoins` endpoint.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "stablecoin"
              ]
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "A comma separated list of additional metadata fields to include for each token. Supported values: `logo`, `url`, `pools`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_spam_tokens",
            "in": "query",
            "description": "When true, excludes tokens with less than 100 USD liquidity from the response. This differs from the `low_liquidity` field in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "historical_prices",
            "in": "query",
            "description": "Historical price selection. Provide a single integer or a comma-separated list of up to 3 integers representing hours in the past (e.g. `168` for 1 week ago or `720,168,24` for 1 month, 1 week, and 1 day ago). When set, each balance includes a historical_prices array with one entry per offset.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "single_offset": {
                "summary": "Single offset (1 week ago)",
                "value": "168"
              },
              "three_offsets": {
                "summary": "Three offsets (1 month, 1 week, 1 day ago)",
                "value": "720,168,24"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets. This is a cursor being passed from the previous response, only use what the backend returns here.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of balances to return. Default is 1000 when not provided. Values above 1000 are reduced to 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalancesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "wallet_address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                      "balances": [
                        {
                          "chain": "ethereum",
                          "chain_id": 1,
                          "address": "0x0e36c45d16585d1801e37cfaa577a9ad39f9343a",
                          "amount": "45787557175393926414790300082",
                          "symbol": "Kendu",
                          "name": "Kendu of Bank",
                          "decimals": 18,
                          "price_usd": 1.233346836175539e+21,
                          "value_usd": 5.647193877847869e+31,
                          "pool_size": 1233.34683617554,
                          "low_liquidity": true
                        },
                        {
                          "chain": "ethereum",
                          "chain_id": 1,
                          "address": "0x113404d2003c4acf4231a3a62374bb503bff03d7",
                          "amount": "432599243131405501735524",
                          "symbol": "ALT",
                          "name": "AltLayer",
                          "decimals": 18,
                          "price_usd": 9388386012000030000,
                          "value_usd": 4.061408683016688e+24,
                          "pool_size": 9.38838601200001,
                          "low_liquidity": true
                        }
                      ],
                      "next_offset": "opaque-pagination-token",
                      "request_time": "2025-08-13T10:31:08Z",
                      "response_time": "2025-08-13T10:31:08Z"
                    }
                  },
                  "with_warnings": {
                    "summary": "Response with unsupported chain IDs warning",
                    "value": {
                      "wallet_address": "0x37305b1cd40574e4c5ce33f8e8306be057fd7341",
                      "balances": [
                        {
                          "chain": "ethereum",
                          "chain_id": 1,
                          "address": "native",
                          "amount": "1000000000000000000",
                          "symbol": "ETH",
                          "decimals": 18,
                          "price_usd": 3896.8315,
                          "value_usd": 3896.8315
                        },
                        {
                          "chain": "optimism",
                          "chain_id": 10,
                          "address": "native",
                          "amount": "500000000000000000",
                          "symbol": "ETH",
                          "decimals": 18,
                          "price_usd": 3896.8315,
                          "value_usd": 1948.41575
                        }
                      ],
                      "warnings": [
                        {
                          "code": "UNSUPPORTED_CHAIN_IDS",
                          "message": "Some requested chain_ids are not supported. Balances are returned only for supported chains.",
                          "chain_ids": [
                            9999,
                            77777777777
                          ],
                          "docs_url": "https://docs.sim.dune.com/evm/supported-chains"
                        }
                      ],
                      "request_time": "2025-12-16T10:31:08Z",
                      "response_time": "2025-12-16T10:31:08Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid wallet address or invalid query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "message": "Failed to parse address"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "internalError": {
                    "value": {
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The balances service is temporarily in a retry state. Retry the request after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "serviceUnavailable": {
                    "value": {
                      "message": "Try again later"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evm/balances/{address}/token/{token_address}": {
      "get": {
        "tags": [
          "evm",
          "balances"
        ],
        "summary": "Get a single token balance for a given address",
        "description": "Returns the balance for a specific token (or native asset) for a wallet on a single specified chain. This sub-endpoint reuses the Balances response format.",
        "operationId": "getEvmSingleTokenBalance",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to get the token balance for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "token_address",
            "in": "path",
            "description": "Token contract address or `native` for the chain's native asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": true,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If omitted, results include balances from chains with the \"default\" tag for the address. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "A comma separated list of additional metadata fields to include for each token. Supported values: `logo`, `url`, `pools`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "historical_prices",
            "in": "query",
            "description": "Historical price selection. Provide a single integer or a comma-separated list of up to 3 integers representing hours in the past (e.g. `168` for 1 week ago or `720,168,24` for 1 month, 1 week, and 1 day ago). When set, each balance includes a historical_prices array with one entry per offset.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "single_offset": {
                "summary": "Single offset (1 week ago)",
                "value": "168"
              },
              "three_offsets": {
                "summary": "Three offsets (1 month, 1 week, 1 day ago)",
                "value": "720,168,24"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleBalanceResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "request_time": "2025-10-07T13:18:14.789152386+00:00",
                      "response_time": "2025-10-07T13:18:14.850098525+00:00",
                      "wallet_address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                      "balances": [
                        {
                          "chain": "ethereum",
                          "chain_id": 1,
                          "address": "0x146523e8db6337291243a63a5555f446fa6c279f",
                          "amount": "7156868995423049840501842481",
                          "symbol": "AiMeme",
                          "name": "Ai Meme",
                          "decimals": 18,
                          "price_usd": 129086.448055109,
                          "value_usd": 923854797814899,
                          "pool_size": 9.09741149400001,
                          "low_liquidity": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid wallet address or invalid query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "message": "Failed to parse address"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "internalError": {
                    "value": {
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The balances service is temporarily in a retry state. Retry the request after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "serviceUnavailable": {
                    "value": {
                      "message": "Try again later"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evm/collectibles/{address}": {
      "get": {
        "summary": "Get EVM Collectibles",
        "description": "Retrieves a list of EVM compatible collectibles (NFTs) for a given wallet address.",
        "operationId": "getEvmCollectibles",
        "tags": [
          "evm",
          "collectibles"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address to get collectibles for.",
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If this query parameter is omitted, results include collectibles from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Use the `next_offset` value from the previous response to get the next page. Omit to fetch the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum entries per page for collectibles. Default is 250 when not provided. Values above 2500 are reduced to 2500. If fewer entries exist than the limit, only the available entries are returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 2500,
              "default": 250
            }
          },
          {
            "name": "filter_spam",
            "in": "query",
            "required": false,
            "description": "When true, hide collectibles identified as spam. Set to false to return all collectibles, including potential spam. See the [Spam Filtering](#spam-filtering) section for more details.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "show_spam_scores",
            "in": "query",
            "required": false,
            "description": "When true, include spam scoring details (`spam_score` and `explanations`) to explain filtering decisions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of collectibles for the specified address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiblesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                      "entries": [
                        {
                          "contract_address": "0x5d28dcf2fbbd3738c0ebe9de03eafcb4ec33015d",
                          "token_standard": "ERC1155",
                          "token_id": "1",
                          "chain": "ethereum",
                          "chain_id": 1,
                          "name": "Beeplfg",
                          "description": "Beeplfg",
                          "symbol": "CRAP",
                          "image_url": "https://api.sim.dune.com/v1/evm/collectible/image/1/0x5d28dcf2fbbd3738c0ebe9de03eafcb4ec33015d/1",
                          "last_sale_price": "0",
                          "metadata": {
                            "uri": "ipfs://QmcnkkMnfL7fugsyrZPEZhPGciLMoo9kwWt1cg4QHLLx3w/0",
                            "attributes": [
                              {
                                "key": "Color",
                                "value": "255, 43, 163"
                              },
                              {
                                "key": "Stance",
                                "value": "Greased"
                              }
                            ]
                          },
                          "is_spam": false,
                          "spam_score": 0,
                          "explanations": [
                            {
                              "feature": "trade_volume",
                              "value": 518,
                              "feature_score": 0,
                              "feature_weight": 0.25
                            },
                            {
                              "feature": "unique_buyers",
                              "value": 145,
                              "feature_score": 0,
                              "feature_weight": 0.25
                            },
                            {
                              "feature": "unique_sellers",
                              "value": 167,
                              "feature_score": 0,
                              "feature_weight": 0.25
                            },
                            {
                              "feature": "externally_flagged",
                              "value": false,
                              "feature_score": 0,
                              "feature_weight": 0.25
                            }
                          ],
                          "balance": "8",
                          "last_acquired": "2025-08-10T03:58:59Z"
                        },
                        {
                          "contract_address": "0x344299dd2af8f81246dcb7b3368c6b9b5ddad4f6",
                          "token_standard": "ERC1155",
                          "token_id": "1",
                          "chain": "bnb",
                          "chain_id": 56,
                          "name": "launchspx org",
                          "balance": "1",
                          "last_acquired": "2025-08-11T04:22:52Z",
                          "is_spam": false
                        },
                        {
                          "contract_address": "0x3c020f2124b84bd079985c77f93d4a750512448c",
                          "token_standard": "ERC721",
                          "token_id": "5132",
                          "chain": "ethereum",
                          "chain_id": 1,
                          "name": "Ethereum Puppet #5132",
                          "description": "Ethereum Puppet #5132",
                          "symbol": "PUPPET",
                          "image_url": "https://api.sim.dune.com/v1/evm/collectible/image/1/0x3c020f2124b84bd079985c77f93d4a750512448c/5132",
                          "last_sale_price": "0.00005",
                          "metadata": {
                            "uri": "https://www.ethereumpuppets.com/metadata/5132",
                            "attributes": [
                              {
                                "key": "Background",
                                "value": "Mustard"
                              },
                              {
                                "key": "Shirt",
                                "value": "Gambler"
                              }
                            ]
                          },
                          "balance": "1",
                          "last_acquired": "2025-08-09T23:07:47Z",
                          "is_spam": false
                        },
                        {
                          "contract_address": "0xa18cf489cf710759f13ac6c8596823dba85354e2",
                          "token_standard": "ERC721",
                          "token_id": "24",
                          "chain": "optimism",
                          "chain_id": 10,
                          "balance": "1",
                          "last_acquired": "2025-08-07T14:51:57Z",
                          "is_spam": false
                        }
                      ],
                      "next_offset": "opaque-pagination-token",
                      "request_time": "2025-08-13T09:40:53Z",
                      "response_time": "2025-08-13T09:40:53Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid address or validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collectibles_ErrorResponse"
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "error": "Invalid address format"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested chain is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collectibles_ErrorResponse"
                },
                "examples": {
                  "chainNotSupported": {
                    "value": {
                      "error": "Chain not supported: 999999"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collectibles_ErrorResponse"
                },
                "examples": {
                  "internalServerError": {
                    "value": {
                      "error": "Failed to bootstrap"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beta/evm/defi/positions/{address}": {
      "get": {
        "tags": [
          "evm",
          "defi"
        ],
        "summary": "Get DeFi positions for an address",
        "description": "Returns a wallet's DeFi positions including USD values, position-specific metadata, and aggregation summaries across supported protocols.",
        "operationId": "getEvmDefiPositions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to inspect for DeFi positions.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            },
            "example": "0x9512044bc14267a6c588296a20bd7c00e0de7da3"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8453,testnet`). Chain names are not accepted. If this query parameter is omitted, results include positions from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefiPositionsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "positions": [
                        {
                          "type": "Erc4626",
                          "chain_id": 1,
                          "token": "0xdcd0f5ab30856f28385f641580bbd85f88349124",
                          "token_name": "Autonomous Liquidity USD",
                          "token_symbol": "alUSD",
                          "underlying_token": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "underlying_token_name": "USD Coin",
                          "underlying_token_symbol": "USDC",
                          "underlying_token_decimals": 6,
                          "calculated_balance": 0.0673736869415349,
                          "price_in_usd": 0,
                          "usd_value": 0,
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                        },
                        {
                          "type": "Tokenized",
                          "chain_id": 1,
                          "token_type": "AtokenV2",
                          "token": "0x030ba81f1c18d280636f32af80b9aad02cf0854e",
                          "token_name": "Aave interest bearing WETH",
                          "token_symbol": "aWETH",
                          "calculated_balance": 0.0496171604159423,
                          "price_in_usd": 1.03911373514321,
                          "usd_value": 0.0515578728870095,
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                        },
                        {
                          "type": "Tokenized",
                          "chain_id": 1,
                          "token_type": "AtokenV2",
                          "token": "0x9ff58f4ffb29fa2266ab25e75e2a8b3503311656",
                          "token_name": "Aave interest bearing WBTC",
                          "token_symbol": "aWBTC",
                          "calculated_balance": 7.234e-05,
                          "price_in_usd": 29.6320132187639,
                          "usd_value": 0.00214357983624538,
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x09c29277d081a1b347f41277ff53116a30d4ddff",
                          "token0": "0x4206975c6d7135ad73129476ebe2b06e42f41f50",
                          "token0_name": "FWOG",
                          "token0_symbol": "FWOG",
                          "token0_decimals": 18,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0xca7455529bd53680000",
                          "token0_price": 3.981792910653e-11,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 59754,
                          "price_in_usd": 0.000802696996635525,
                          "usd_value": 47.9643563369592,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x2c793e52d3180ce2f97ed050428d6ed8473285ee",
                          "token0": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token0_name": "Wrapped Ether",
                          "token0_symbol": "WETH",
                          "token0_decimals": 18,
                          "token1": "0xeb1d4fa4ec26392a1da1344ed1a0b6f8476265b3",
                          "token1_name": "Thailand",
                          "token1_symbol": "THAILAND",
                          "token1_decimals": 18,
                          "lp_balance": "0x141c5f09864c3968",
                          "token0_price": 3553.20946160682,
                          "token1_price": 6.93033022151853e-07,
                          "calculated_balance": 1.44913767461894,
                          "price_in_usd": 0.0993233873678346,
                          "usd_value": 0.1439332626055,
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x3b0ad93e52a232d8d41e13289976895c295e5b97",
                          "token0": "0x56c18a87b4ee72317e059bd568005a6355b66b01",
                          "token0_name": "Ethereum Army",
                          "token0_symbol": "EthereumArmy",
                          "token0_decimals": 9,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0xf7436a7c1ea8ae82",
                          "token0_price": 6.71694037048083e-09,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 17.8172016321307,
                          "price_in_usd": 310.047164921547,
                          "usd_value": 5524.17285287768,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x3d1cb7638d73657f7e554eda1d97703bc29d3c15",
                          "token0": "0xa585cb4e6e833d6fa55a992e75b9ee0743b23d69",
                          "token0_name": "Tokenswim",
                          "token0_symbol": "TKS",
                          "token0_decimals": 8,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0x425eb51b908b",
                          "token0_price": 1.20461416147608,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 7.2974532841611e-05,
                          "price_in_usd": 13300248.4891253,
                          "usd_value": 970.579420171264,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x3d22ea9eb7d7be6d9c6da7542ae17e24a56c9948",
                          "token0": "0x44ac993fcd34a55bcce736ee709a0b1f590327f1",
                          "token0_name": "Made In United States of America",
                          "token0_symbol": "MIUSA",
                          "token0_decimals": 18,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0x9b6e64a8ec60000",
                          "token0_price": 0.000170221012856972,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 0.7,
                          "price_in_usd": 1.55542454856754,
                          "usd_value": 1.08879718399728,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x4fa956284f1214e7f619a05054ea3b8d4370d225",
                          "token0": "0xb005aac185a963c9ad52ecede60ddaea83417b37",
                          "token0_name": "Edoge",
                          "token0_symbol": "EDOGE",
                          "token0_decimals": 9,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0x1bc16d674ec80000",
                          "token0_price": 7.73273307706922e-09,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 2,
                          "price_in_usd": 337.500909089399,
                          "usd_value": 675.001818178797,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x60da3e999b92ad9ac0749bdb7f7bc4a84b7654b0",
                          "token0": "0x7e9e98e12e6aa8a2b457b78613f075bd4cbbd4b1",
                          "token0_name": "Pepe Vitalik",
                          "token0_symbol": "PITALIK",
                          "token0_decimals": 9,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0x2386f26fc100000",
                          "token0_price": 5.223622125649e-05,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 0.16,
                          "price_in_usd": 27834.7019989285,
                          "usd_value": 4453.55231982856,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x85e25bc853a5cf2265dc9d04e2fbbfd32a95a7e5",
                          "token0": "0x31448ab1bd9679f8c8029defee824763018566bd",
                          "token0_name": "MEOW",
                          "token0_symbol": "Vitalik Learn to Meow",
                          "token0_decimals": 18,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0x66845b21facdd560fe31a",
                          "token0_price": 5.36553654627e-12,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 7745966.69241483,
                          "price_in_usd": 0.000276152558547498,
                          "usd_value": 2139.06852053406,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0x87ffcda0c507117683f0bc0defb683eebe9c223b",
                          "token0": "0x693391144d1e079e20cc64f795e9450c94966171",
                          "token0_name": "Layer 2 Index",
                          "token0_symbol": "LTI",
                          "token0_decimals": 18,
                          "token1": "0x6b175474e89094c44da98b954eedeac495271d0f",
                          "token1_name": "Dai Stablecoin",
                          "token1_symbol": "DAI",
                          "token1_decimals": 18,
                          "lp_balance": "0x8ac7230489e80000",
                          "token0_price": 0.362412002420127,
                          "token1_price": 0.998865563776363,
                          "calculated_balance": 10,
                          "price_in_usd": 1.2092122125549,
                          "usd_value": 12.092122125549,
                          "logo": null
                        },
                        {
                          "type": "UniswapV2",
                          "chain_id": 1,
                          "protocol": "UniswapV2",
                          "pool": "0xa7f8de1f0e6964201d412fd172e5740663b35567",
                          "token0": "0x8df994371e3cfe3d218d2b8f42b5bf414651fcd8",
                          "token0_name": "FLOKI SANTA",
                          "token0_symbol": "FLOKIS",
                          "token0_decimals": 18,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "lp_balance": "0x3eb908bfa9242f200000",
                          "token0_price": 5.410934490399e-10,
                          "token1_price": 3553.20946160682,
                          "calculated_balance": 296200,
                          "price_in_usd": 0.0027889628548969,
                          "usd_value": 826.090797620462,
                          "logo": null
                        },
                        {
                          "type": "Nft",
                          "chain_id": 8453,
                          "protocol": "UniswapV3",
                          "pool": "0x7a0640ca0c8b07789edaaefda82bf5790109aa44",
                          "token0": "0x07449b62ec61f12d6110c36db240436222b02530",
                          "token0_name": "DOGE",
                          "token0_symbol": "DOGE",
                          "token0_decimals": 18,
                          "token1": "0x4200000000000000000000000000000000000006",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": -887272,
                              "tick_upper": 887272,
                              "token_id": "0x132c81",
                              "token0_price": 9.48452516697798e-07,
                              "token0_holdings": 613763253.0586,
                              "token0_rewards": 21676.3984019538,
                              "token1_price": 3570.25944039075,
                              "token1_holdings": 0.162913339628563,
                              "token1_rewards": 1.0452682406464e-05
                            }
                          ],
                          "logo": null,
                          "usd_value": 1163.82606861717
                        },
                        {
                          "type": "Nft",
                          "chain_id": 1,
                          "protocol": "UniswapV3",
                          "pool": "0x7625d7f67e4e44341ddfb1e698801fd5a1574b48",
                          "token0": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token0_name": "Wrapped Ether",
                          "token0_symbol": "WETH",
                          "token0_decimals": 18,
                          "token1": "0xd78959df1ff28b45e6b4ea234bdcf9d6609d16e1",
                          "token1_name": "Moneda de Caca",
                          "token1_symbol": "Mierda",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": 0,
                              "tick_upper": 184200,
                              "token_id": "0xe8ac0",
                              "token0_price": 3553.20946160682,
                              "token0_holdings": 0,
                              "token0_rewards": 0.000201014351146556,
                              "token1_price": 0,
                              "token1_holdings": 100000000,
                              "token1_rewards": 19678.323702556
                            }
                          ],
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "usd_value": 0.714246094412699
                        },
                        {
                          "type": "Nft",
                          "chain_id": 8453,
                          "protocol": "UniswapV3",
                          "pool": "0xf3b058e81ac53c475cf6e9d12724e3493fd8ffe7",
                          "token0": "0x2ef9f33ae8f8e7f7858ed24965b04ec8fc4e5841",
                          "token0_name": "Numbers",
                          "token0_symbol": "NMB404",
                          "token0_decimals": 18,
                          "token1": "0x4200000000000000000000000000000000000006",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": -39000,
                              "tick_upper": 887200,
                              "token_id": "0xb3e4",
                              "token0_price": 93.9873376113841,
                              "token0_holdings": 38.7920703525764,
                              "token0_rewards": 0.808474625304572,
                              "token1_price": 3570.25944039075,
                              "token1_holdings": 0.145798328127171,
                              "token1_rewards": 0.171277142433281
                            }
                          ],
                          "logo": null,
                          "usd_value": 4853.9914825157
                        },
                        {
                          "type": "Nft",
                          "chain_id": 1,
                          "protocol": "UniswapV3",
                          "pool": "0x24a3ab2a20f5e903b5bb3efc3b4a60fcda17b496",
                          "token0": "0x6793655c396eaee311fb4d3596b88fd7d195c79e",
                          "token0_name": "degeneratorv2",
                          "token0_symbol": "DGENV2",
                          "token0_decimals": 8,
                          "token1": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "token1_name": "Wrapped Ether",
                          "token1_symbol": "WETH",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": -887270,
                              "tick_upper": 230270,
                              "token_id": "0x1b621",
                              "token0_price": 0.0719515070037307,
                              "token0_holdings": 3047.05602573,
                              "token0_rewards": 5.63917856,
                              "token1_price": 3553.20946160682,
                              "token1_holdings": 0.0616595719741519,
                              "token1_rewards": 0.0319835526435363
                            }
                          ],
                          "logo": null,
                          "usd_value": 552.379656777724
                        },
                        {
                          "type": "NftV4",
                          "chain_id": 1,
                          "protocol": "UniswapV4",
                          "pool_id": [
                            33,
                            251,
                            41,
                            59,
                            157,
                            197,
                            59,
                            66,
                            250,
                            110,
                            99,
                            250,
                            36,
                            225,
                            33,
                            45,
                            231,
                            108,
                            136,
                            235,
                            122,
                            21,
                            185,
                            76,
                            210,
                            32,
                            252,
                            102,
                            39,
                            72,
                            81,
                            191
                          ],
                          "pool_manager": "0x000000000004444c5dc75cb358380d2e3de08a90",
                          "salt": [
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            33,
                            24
                          ],
                          "token0": "0x0000000000000000000000000000000000000000",
                          "token0_name": "Ether",
                          "token0_symbol": "ETH",
                          "token0_decimals": 18,
                          "token1": "0xf9c8631fba291bac14ed549a2dde7c7f2ddff1a8",
                          "token1_name": "Mighty Morphin Power Rangers",
                          "token1_symbol": "GoGo",
                          "token1_decimals": 18,
                          "positions": [
                            {
                              "tick_lower": -184220,
                              "tick_upper": 207220,
                              "token_id": "0x2118",
                              "token0_price": 3553.20946160682,
                              "token0_holdings": 4.7749999999999e-05,
                              "token0_rewards": 8.749999999999e-06,
                              "token1_price": 3.581798534713e-06,
                              "token1_holdings": 479952364.515627,
                              "token1_rewards": 8399.79998597393
                            }
                          ],
                          "logo": "https://api.sim.dune.com/beta/token/logo/1/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "usd_value": 1719.32351868043
                        }
                      ],
                      "aggregations": {
                        "total_usd_value": 22940.0436122581,
                        "total_by_chain": {
                          "1": 16922.2260611252,
                          "8453": 6017.81755113287
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid user address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collectibles_ErrorResponse"
                },
                "examples": {
                  "invalidAddress": {
                    "value": {
                      "error": "Invalid user address"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collectibles_ErrorResponse"
                },
                "examples": {
                  "internalError": {
                    "value": {
                      "error": "Internal error: unexpected failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evm/balances/{address}/stablecoins": {
      "get": {
        "tags": [
          "evm",
          "balances"
        ],
        "summary": "Get stablecoin balances for a given address",
        "description": "This endpoint returns stablecoin balances for an address across supported EVM chains. It filters the standard balances response to include only configured stablecoins (USD-pegged, yield-bearing, and euro-pegged).",
        "operationId": "getEvmStablecoinBalances",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address to get stablecoin balances for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "chain_ids",
            "in": "query",
            "required": false,
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8453,137`). If omitted, results include balances from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Specify `erc20` or `native` to get only ERC20 stablecoins or native stablecoins (e.g., xDAI on Gnosis), respectively",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "erc20",
                "native"
              ]
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "A comma separated list of additional metadata fields to include for each token. Supported values: `logo`, `url`, `pools`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_spam_tokens",
            "in": "query",
            "description": "When true, excludes tokens with less than 100 USD liquidity from the response. This differs from the `low_liquidity` field in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "historical_prices",
            "in": "query",
            "description": "Historical price selection. Provide a single integer or a comma-separated list of up to 3 integers representing hours in the past (e.g. `168` for 1 week ago or `720,168,24` for 1 month, 1 week, and 1 day ago). When set, each balance includes a historical_prices array with one entry per offset.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "single_offset": {
                "summary": "Single offset (1 week ago)",
                "value": "168"
              },
              "three_offsets": {
                "summary": "Three offsets (1 month, 1 week, 1 day ago)",
                "value": "720,168,24"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets. This is a cursor being passed from the previous response, only use what the backend returns here.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of balances to return. Default is 1000 when not provided. Values above 1000 are reduced to 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinBalancesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "wallet_address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                      "balances": [
                        {
                          "chain": "ethereum",
                          "chain_id": 1,
                          "address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "amount": "1000000000",
                          "symbol": "USDC",
                          "name": "USD Coin",
                          "decimals": 6,
                          "price_usd": 1,
                          "value_usd": 1000
                        },
                        {
                          "chain": "base",
                          "chain_id": 8453,
                          "address": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "amount": "500000000",
                          "symbol": "USDC",
                          "name": "USD Coin",
                          "decimals": 6,
                          "price_usd": 1,
                          "value_usd": 500
                        },
                        {
                          "chain": "gnosis",
                          "chain_id": 100,
                          "address": "native",
                          "amount": "100000000000000000000",
                          "symbol": "XDAI",
                          "decimals": 18,
                          "price_usd": 1,
                          "value_usd": 100
                        }
                      ],
                      "next_offset": "opaque-pagination-token",
                      "request_time": "2026-02-05T10:31:08Z",
                      "response_time": "2026-02-05T10:31:08Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid wallet address or invalid query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "message": "Failed to parse address"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "internalError": {
                    "value": {
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The balances service is temporarily in a retry state. Retry the request after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMessageErrorResponse"
                },
                "examples": {
                  "serviceUnavailable": {
                    "value": {
                      "message": "Try again later"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evm/supported-chains": {
      "get": {
        "tags": [
          "evm",
          "supported-chains"
        ],
        "summary": "Get a list of supported chains for EVM endpoints",
        "description": "This endpoint returns a list of chains that are supported by the EVM endpoints. This is a unified endpoint that replaces the individual chains endpoints for each service.",
        "operationId": "getEvmSupportedChains",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainsResponse"
                },
                "example": {
                  "chains": [
                    {
                      "id": 42161,
                      "name": "arbitrum",
                      "supported_assets": [
                        "native",
                        "erc20"
                      ],
                      "tags": [
                        "default",
                        "mainnet"
                      ]
                    },
                    {
                      "id": 1,
                      "name": "ethereum",
                      "supported_assets": [
                        "native",
                        "erc20"
                      ],
                      "tags": [
                        "default",
                        "mainnet"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed data"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - A generic error occurred on the server"
          }
        }
      }
    },
    "/v1/evm/token-holders/{chain_id}/{address}": {
      "get": {
        "summary": "Get Token Holders",
        "description": "Retrieves a list of token holders for a given token contract address on a specified blockchain.",
        "operationId": "getTokenHolders",
        "tags": [
          "evm",
          "token-holders"
        ],
        "parameters": [
          {
            "name": "chain_id",
            "in": "path",
            "required": true,
            "description": "The chain id of the blockchain (e.g., 8453 for Base). For a full list see [Supported Chains](/evm/supported-chains).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 8453
            },
            "example": 8453
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The token contract address.",
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0x63706e401c06ac8513145b7687A14804d17f814b"
            },
            "example": "0x63706e401c06ac8513145b7687A14804d17f814b"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of token holders to return. Default is 500 when not provided. Values above 500 are reduced to 500.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination token from the previous response's next_offset field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of token holders for the specified token address on the specified chain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenHoldersResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "token_address": "0x63706e401c06ac8513145b7687a14804d17f814b",
                      "chain_id": 8453,
                      "holders": [
                        {
                          "wallet_address": "0x4a79b0168296c0ef7b8f314973b82ad406a29f1b",
                          "balance": "13794442047246482254818",
                          "first_acquired": "2025-02-06T15:11:07+00:00",
                          "has_initiated_transfer": false
                        },
                        {
                          "wallet_address": "0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B",
                          "balance": "25000000000000000000",
                          "first_acquired": "2024-01-15T10:30:00+00:00",
                          "has_initiated_transfer": true
                        }
                      ],
                      "next_offset": "eyJwYWdlIjoyLCJsaW1pdCI6Mn0="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenHolders_ErrorResponse"
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "error": {
                        "message": "Verify the address format and other parameters in your request",
                        "code": "BAD_REQUEST"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenHolders_ErrorResponse"
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "error": {
                        "message": "Resource not found",
                        "code": "NOT_FOUND"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Server-side error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenHolders_ErrorResponse"
                },
                "examples": {
                  "internalServerError": {
                    "value": {
                      "error": {
                        "message": "Server-side error",
                        "code": "INTERNAL_SERVER_ERROR"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evm/token-info/{address}": {
      "get": {
        "tags": [
          "evm",
          "token-info"
        ],
        "summary": "Get EVM token information for a specified contract address (or the native token), on any chain.",
        "operationId": "getEvmTokenInfo",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The contract address of the token or 'native' for the native token of the chain",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd9aaec86b65d86f6a7b5b1b0c42ffa531710b6ca"
            },
            "example": "0xd9aaec86b65d86f6a7b5b1b0c42ffa531710b6ca"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "description": "Specify exactly one chain. Accepts a single numeric chain ID (e.g. `?chain_ids=1`). Chain names are not accepted. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "8453"
            },
            "example": "8453"
          },
          {
            "name": "historical_prices",
            "in": "query",
            "description": "Request historical point-in-time prices. Provide a single integer or a comma-separated list of up to 3 integers representing hours in the past (e.g. `168` for 1 week ago or `720,168,24` for 1 month, 1 week, and 1 day ago). When present, each token includes a historical_prices array with one entry per offset.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "single_offset": {
                "summary": "Single offset (1 week ago)",
                "value": "168"
              },
              "three_offsets": {
                "summary": "Three offsets (1 month, 1 week, 1 day ago)",
                "value": "720,168,24"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This endpoint returns up to the number of supported chains. See [Supported Chains](/evm/supported-chains) to learn more.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 100
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets; this is a cursor being passed from the previous response, only use what the backend returns here",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokensResponse"
                },
                "example": {
                  "contract_address": "native",
                  "tokens": [
                    {
                      "chain": "ethereum",
                      "chain_id": 1,
                      "price_usd": 12.34,
                      "symbol": "ETH"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid address, chain ID, token ID, or batch size exceeded.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address",
                    "value": "Invalid address: expected a hex-encoded address"
                  },
                  "invalidChainId": {
                    "summary": "Invalid chain ID",
                    "value": "Invalid chain id: 999999"
                  },
                  "batchSizeExceeded": {
                    "summary": "Batch size exceeded",
                    "value": "Batch size exceeds maximum limit of 100 tokens"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "invalidApiKey": {
                    "value": {
                      "error": "invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Token or resource not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "tokenNotFound": {
                    "summary": "Token not found",
                    "value": "Token not found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayErrorResponse"
                },
                "examples": {
                  "rateLimitExceeded": {
                    "value": {
                      "error": "Too many requests. Please contact sales@dune.com to increase your limit."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "storeError": {
                    "summary": "Store read failure",
                    "value": "Failed to read from store: connection timeout"
                  }
                }
              }
            }
          }
        },
        "description": "Returns metadata and pricing information for a specific EVM token. Includes token name, symbol, decimals, current price in USD, and optionally historical price data when the `historical_prices` parameter is set."
      }
    },
    "/v1/evm/transactions/{address}": {
      "get": {
        "tags": [
          "evm",
          "transactions"
        ],
        "summary": "Get EVM transactions",
        "description": "Get transactions for a given EVM address",
        "operationId": "getEvmTransactions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "EVM wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "format": "address",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "chain_ids",
            "in": "query",
            "description": "Filter by chain(s). Accepts numeric chain IDs and/or tags. Provide a single value (e.g. `?chain_ids=1` or `?chain_ids=mainnet`) or a comma-separated list (e.g. `?chain_ids=1,8543,testnet`). Chain names are not accepted. If this query parameter is omitted, results include transactions from chains with the `default` tag. See the [Supported Chains Tags](/evm/supported-chains#tags) section.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return. Default is 100 when not provided. Values above 100 are reduced to 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset to paginate through result sets. This is a cursor being passed from the previous response, only use what the backend returns here.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "decode",
            "in": "query",
            "description": "When true, it includes decoded transaction logs in the response. Accepts only boolean values true or false. You can also omit this parameter to disable decoding. Invalid values will return an error.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "transactions": [
                        {
                          "address": "0x7532cd0651030d3dc80b28199a125fc9f5ac80fa",
                          "block_hash": "0x745bdf699cee1fef27b9304be43a2435c744500ef455cc6b7dfb4c34417601a2",
                          "block_number": "30819446",
                          "block_time": "2025-05-28T10:30:39Z",
                          "chain": "base",
                          "from": "0x7532cd0651030d3dc80b28199a125fc9f5ac80fa",
                          "to": "0x6ff5693b99212da76ad316178a184ab56d299b43",
[...]
