/* Primary header CTA button */
#topbar-cta-button > a > span {
    border-radius: .5rem;
    background-color: #000;
}

a.rounded-xl {
  border-radius: .5rem;
}

/* Primary header CTA button - Dark mode */
html.dark #topbar-cta-button > a > span {
    background-color: #FFF;
}

/* Primary header CTA button text */
#topbar-cta-button > a > span + div > span {
    color: #FFF;
}

/* Primary header CTA button text - Dark mode */
html.dark #topbar-cta-button > a > span + div > span {
    color: #000;
}

/* Primary header CTA button icon - Dark mode */
html.dark #topbar-cta-button > a > span + div > svg {
    color: #000;
}

/* Hide the Mintlify link in the footer */
#footer .sm\:flex > a {
    display: none !important;
}

#navigation-items > div:not(:last-child) {
    border-bottom: 1px solid rgb(var(--gray-400)/0.2);
    padding-bottom: 1rem;
}

html.dark #navigation-items > div:not(:last-child) {
    border-top-color: rgb(var(--gray-600)/0.3);
}

#navigation-items > div:not(:first-child) {
    margin-top: 1rem;
}

a.link:not(.nav-tabs-item){
    border-bottom: 1px solid rgb(var(--primary-dark))
}

#table-of-contents .toc-item.relative[data-depth="1"] {
    display: none;
}

/* Styles for the new brand */

#topbar-cta-button > a > span,
#navigation-items .sidebar-group > li > a,
#sidebar-group > li > a,
#search-bar-entry,
.chat-assistant-floating-input > div {
    border-radius: 9999px;
}

#page-context-menu > button:first-child {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

#page-context-menu > button:last-child {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

/* Hide the tab selector to prevent users from discovering IDX */
.nav-tabs-item,
.nav-tabs,
div:has(> .nav-tabs),
#sidebar-content .sticky,
#navigation-items button[type="button"] {
    display: none !important;
}
